!!! Strict
%html
  %head
    = javascript_include_tag :defaults, :cache => true
    = stylesheet_link_tag "blueprint/screen", :media => "screen, projection"
    = stylesheet_link_tag "blueprint/print", :media => "print"
    /[if lt IE 8]
      = stylesheet_link_tag "blueprint/ie", :media => "screen, projection"
    = stylesheet_link_tag "site"
    %title Tweet Commander
  %body
    .container
      #header{ :class => "span 24 last" }
        = link_to image_tag("logo.png"), root_path
        %span{ :id => "auth" }
          - if logged_in?
            Logged In as
            = twitter_user_screen_name
            = "(" + link_to("Logout", logout_path) + "}"
          - else
            = link_to "login", login_path
            with your Twitter account.
        %br.clear
        = image_tag "ajax-loader.gif", :id => "spinner", :style => "display: none;"
      #content{ :class => "span 24 last" }
        = yield